{% extends 'index.html'%} {%block title%}

<title>Home</title>

{%endblock%} {%block body%}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div
    class="container d-flex flex-column align-items-center"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <h1>Yoan Palacios Guzman</h1>
    <h2>
      Recent graduate with a bachelor in computer science, looking for a full
      time role.
    </h2>
    <a href="/skills" class="btn-about">SKILLS</a>
  </div>
</section>
<!-- End Hero -->

{%endblock%}
