{% extends 'index.html'%} 

{%block title%}

<title>Resume</title>

{%endblock%}

{%block body%}

<main id="main">
 <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Skills</h2>
        <!-- <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p> -->
      </div>

      <div class="row skills-content">
        <div class="col-lg-6">
          <div class="progress">
            <span class="skill">C/C++ <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Python <i class="val">85%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="85"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Java <i class="val">30%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="30"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="progress">
            <span class="skill">JavaScript <i class="val">25%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">HTMl/CSS  <i class="val">25%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">React <i class="val">25%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Skills Section -->


    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Detail-oriented computer scientist with 1 year of work experience and
            a bachelor in Computer Science & Engineer.
            Eager to support a team with excellent coding skills and passion. With 
            the 1 year of work experience, I helped automate a lot of the workflow at
            Intel such as weekly and monthly reports.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Yoan Palacios Guzman</h4>
              <p><em>I am an Innovative and deadline-driven computer scientist with 1-year of working experience and four years of the school experience. This experience includes designing and developing software to automate a process or to increase my skillset further.</em></p>
              <p>
              <ul>
                <li><a href="mailto:ypalaciosguzman@ucmerced.edu">ypalaciosguzman@ucmerced.edu</a></li>
                <li><a href="https://www.linkedin.com/in/palaciosguzman/" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/PalaciosYoan" target="_blank">GitHub</a></li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor in Computer Science &amp; Engineering</h4>
              <h5>2017 - 2021</h5>
              <p><em>University of California - Merced</em></p>
              <p>Relevant Courses: </p>
              <ul>
              <li>Algorithm Design/Analysis</li>
              <li>Object-Oriented Programing</li>
              <li>Computer Architecture</li>
              <li>Intro to Computer Vision</li>
              <li>Mobile Computing</li>
              <li>Data Structures</li>
              <li>Discrete Math</li>
              <li>Linear Algebra and Differential Equations</li>
              <li>Calculus I & II</li>
              <li>Vector Calculus</li>
              <li>Probability and Statistics</li>
              </ul>
            </div>
            <!-- <div class="resume-item">
              <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
              <h5>2010 - 2014</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div> -->
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>SSD Undergrad Software Engineer Intern</h4>
              <h5>January 2020 - July 2020</h5>
              <p><em>Intel - Folsom, CA | Programs/software used: Python, Power BI, VBA</em></p> 
              <p>
              Worked on multiple projects during the internship. 
                  One of the impactful projects is the AI Project, 
                  to ranked errors based on importance. 
                  Analyzed the most suitable algorithm to solve the task and implemented Naïve Bayes 
                  because of the small training data requirements while 
                  achieving 76% accuracy results on the testing set. 
                  The project helped save 50-62.5% per error log! Additionally, 
                  helped automate weekly internal reports with Power BI. 
                  Day-to-day tasks included validating data from multiple databases and Jira. 
                  Engineered a new report to see trends and 
                  help management make critical business decisions on the workflow; 
                  accomplished the new report by developing a Python script to create a new field in the database. Finally, developed multiple scripts to accomplished different tasks; updating SSD firmware, detect abnormal fluctuation in financial data, etc.
            
              </p>
            </div>
            <div class="resume-item">
              <h4>Student Data Analyst</h4>
              <h5>May 2019 - August 2020</h5>
              <p><em>University of California - Merced at Pavilion Dining Center</em></p>
              <p>
              An impactful project is the Waste Tracking Project. 
                  The objective was to develop a simple and efficient way to track waste. 
                  Generated waste logs and coordinated with the kitchen staff to fill in the records. 
                  Additionally, performed data analysis to determine the peak waste generation time intervals and coordinated with the kitchen staff to reduce food production during the intervals, 
                  accomplished a 40% waste reduction. Daily Task consist of Data Entrée, 
                  prepare reports, 
                  coordinating with other team members to complete multiple projects, 
                  help the restaurant function by fulfilling needed position for the day.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    

  </main><!-- End #main -->
{%endblock%}
